<!-- Info when sign-in -->
<div class="jumbotron">
  <div class="container">
    <h1>Welcome!</h1>


    <p><a href="home" class="btn btn-primary btn-lg" role="button">Let's start</a></p>

  </div>
</div>

<div class="container">


  <!-- footer -->
  <footer>
    <p>Group Members: Aishwarya Iyer, Joshua Marvel, Tevisophea Heng, Kimberly Nguyen, Briana Hernandez</p>

  </footer>
</div>
<!-- /container -->
