<div class="jumbotron">
  <div class="container">
    <h1>Sign In Page</h1>
    <p>
      {{input type="text" value=email placeholder="Email"}}<br>
      {{input type="password" value=password placeholder="Password"}}<br>
      <button {{action "signIn"}}> Sign In </button>
    </p>
  </div>
</div>

  <footer>
    <p>Group Members: Aishwarya Iyer, Joshua Marvel, Tevisophea Heng, Kimberly Nguyen, Briana Hernandez</p>

  </footer>
<!-- /container -->
